<div class="page-header">
    <h1>Heisenberg</h1>
    <h2>Dashboard</h2>
</div>
<div>
    <ul class="inline">
        <li ng-repeat="member in teamMembers | filter:query | orderBy:orderProp">{{member.username}}
                        <p>{{member.name}}</p>
        </li>
    </ul>
</div>
<ul class="nav nav-pills">
    <li class="active"><a href="#">Dashboard</a></li>
    <li><a href="#/twitter">Tweets</a></li>
    <li><a href="#/team">Team</a></li>
</ul>
<table class="table">
</table>
<div class="row">
    <div>{{minutessincecommit}}</div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Author</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="commit in commits">
                    <td>{{commit.TimeCommited | date:'HH:mm'}}</td>
                    <td>{{commit.Author}}</td>
                    <td>{{commit.Comment}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div>Recent deployments</div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Success</th>
                    <th>Message</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mostrecentbuildresult in mostrecentbuildresults">
                    <td>{{mostrecentbuildresult.Succeeded}}</td>
                    <td>{{mostrecentbuildresult.Commit.Message}}</td>
                    <td>{{mostrecentbuildresult.Commit.Timestamp}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

