<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Heisenberg</h1>
                <h2>Dashboard</h2>
            </hgroup>
            
            <div >
                <ul>
                    <li ng-repeat="member in teamMembers | filter:query | orderBy:orderProp">
                        {{member.username}}
                        <p>{{member.name}}</p>
                    </li>
                </ul>
            </div>
            <div class="span2">
                Filter: <input ng-model="query">
            </div>
        </div>
    </section>
</div>