<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <div class="hero-unit">
                <h1>Heisenberg</h1>
                <h2>Dashboard</h2>
            </div>
            <div>
                <div class="countdown">
                    <script type="text/javascript">
                        var clock = $('.countdown').FlipClip(new Date(2013, 10, 28).getTime() / 1000 - new Date().getTime() / 1000, {
                            clockFace: 'DailyCounter',
                            countdown: true
                        });
                    </script>
                </div>
            </div>
            <div style="display: none">
                <ul>
                    <li ng-repeat="member in teamMembers | filter:query | orderBy:orderProp">{{member.username}}
                        <p>{{member.name}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
<ul class="nav nav-pills">
  <li class="active"><a href="#">Dashboard</a></li>
  <li><a href="#/twitter">Tweets</a></li>
  <li><a href="#/team">Team</a></li>
</ul>
<div class="row">
    <div class="span8">
        Source Control Stuff
            <div ng-model="minutessincecommit"></div>
        {{minutessincecommit}}
    </div>
</div>

    </div>


