<div class="page-header">
    <h1>Heisenberg</h1>
    <h2>Twitter</h2>
</div>
<div>
    <ul class="inline">
        <li ng-repeat="member in teamMembers | filter:query | orderBy:orderProp">{{member.username}}
                        <p>{{member.name}}</p>
        </li>
    </ul>
</div>
<ul class="nav nav-pills">
  <li><a href="#">Dashboard</a></li>
  <li class="active"><a href="#/twitter">Tweets</a></li>
  <li><a href="#/team">Team</a></li>
</ul>
<div class="row">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Author</th>
                    <th>Tweet</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tweet in tweets">
                    <td class="tweet-timestamp">{{tweet.Timestamp | date:'HH:mm Z'}}</td>
                    <td><a href="http://www.twitter.com/{{tweet.Author}}">@{{tweet.Author}}</a></td>
                    <td ng-bind-html="tweet.Text | tweet"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
